//Variables de propiedades que suelo usar con frecuencia
$main-font: Raleway, sans-serif;
$secondary-font: 'Open Sans',sans-serif;
$main-color:#08A6E4;
$color-1:#FB3B64;
$color-2:$main-color;
$color-3:#55DFB4;
$min-width:320px;

//Clases con colores para poner en el html
.color-1{
    background-color: $color-1;
}

.color-2{
    background-color: $color-2;
}

.color-3{
    background-color: $color-3;
}

.textColor-1{
    color: $color-1;
}

.textColor-2{
    color: $color-2;
}

.textColor-3{
    color: $color-3;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//Personalizacion del scrollbar de la pagina
::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

body,html{
    width: 100%;
}


body{
    font-family: $main-font;
    color:$main-color;
    min-width: $min-width;
    text-align: center;
    background-color: #E8E9ED;
    overflow-x: hidden;
}
//Estilos para el header
.header{
    $component:&;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 20px 10px;
    box-shadow:0px 1px 10px rgb(106, 106, 106);
    background-color: #FFFFFF;

    &__title{
        font-weight: 300;
        display: inline-block;
        margin-right: 10%;
    }

    &__btn{
        border:none;
        color: $main-color;
        background: none;     
    }

    &__list{
        margin-top: 20px;
        display: block;
        text-align: left;   
        font-family: $secondary-font;
        list-style-type: none;

        //Estilos de la lista del header
        .list-item{
            $primary-color:grey;
            $secondary-color:black;
            a{
            text-decoration: none;  
            color:$primary-color;
            font-weight: 700;
            letter-spacing: 3.28px;
            font-size: 12px;
            line-height: 15px;
            margin-left: 5%;

                &:visited{
                    color: $primary-color;
                }

                &:hover{
                    color:$secondary-color;
                }
            }
        }
    }
}
//Clase para ocultar el header con javascript
.oculto{
    display: none;
}
.percentage__scroll{
    z-index: 100;
    position: fixed;
    height: 5px;
    background-color: red;
}
//Posicionamiento relativo para el contenido de la pagina para el solapamiento del menu del header
.content{
    position: relative;
    z-index: 1;
    padding-top: 100px;
    background-color:white ;
    color: black;
    font-size: 16px;
    
}
//Estilos de los botones de introduccion y el boton del formulario
.introduction__btn, .form__btn{
    border-radius:40px;
    width: min(80%,500px);
    padding: 20px 0;
    color: white;
    background-color: $main-color;
    border:none;
    font-family: $secondary-font;
    font-weight: 700;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);

    &:hover{
        cursor: pointer;
    }    
}
//Estilos para la introduccion
.introduction{
    &__title, &__description, &__btn{
        margin: 20px 0;
    }

    &__title{
        font-weight: 400;
    }

    &__img{
        object-fit: cover;
        width: 100%;
        min-height: 250px;
        max-height: 600px;
    }
}
//Estilos de la seccion que muestra las estadisticas
.stadistics{
    width: 100%;
    
    &__title, &__data{
        margin: 20px 0;
        padding-bottom: 20px;
    }

    &__title{
        font-weight: 300;
    }    
}
//Estilo de los circulos, iconos y texto de las estadisticas
.data{
    &__circle{
        position: relative;
        display: inline-block;
        border-radius: 50%;
        width: 60px;
        height: 60px;  
    }

    &__icon{
        position: absolute;
        top: 9px;
        right: -20px;
    }

    &__number{
        font-family: $main-font;
        font-weight: 800;
        letter-spacing: 6px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__title{
        font-family: $main-font;
        font-weight: 400;
        font-size: 17px;
        color: #A5A5A5;
    }
}
//Estilo del contenedor de las cartas
.cards{
    color: black;
    text-align: center;
}
//Estilo de cada una de las cartas
.card{
    text-align: left;
    margin: 20px auto 0px auto;
    padding: 30px;
    background-color: #FFFFFF;
    width: 85%;
    
    &__title, &__img, &__description{
        margin:30px 0;
    }

    &__title{
        font-weight: 400;
    }

    &__img{
        &.img__macbook{
            object-fit:scale-down;
            width: 75%;
            position: relative;
            z-index: 10;     
            left: 10%;       
        }

        &.img__phone{
            max-width: 100%;
            margin: auto;
            position: absolute;
            width: calc(100vw/2);
            height: calc(100vw/3);
            max-width: 100%;
            max-height: 100%;
            min-width: calc($min-width/2);
            min-height: calc($min-width/3);;
            left: 30%;
        }
    }

    &__description{
        font-family: $secondary-font;
        font-size: 14px;
        line-height: 21px;
    }

    &__macbook{
        position: absolute;
        background-color: $color-1;
        border-radius: 50%;
        width: calc(100vw/4);
        height: calc(100vw/4);
        min-width: calc($min-width/4);
        min-height: calc($min-width/4);
        right: 25%;
        z-index: 1;
    }
        
    &__phone{
        background-color: $color-2;
        border-radius: 50%;
        width: calc(100vw/3);
        height: calc(100vw/3);
        min-width: calc($min-width/3);
        min-height: calc($min-width/3);
        margin:0 auto;
    }
}
//Estilo del contenedor que contiene la imagen de la trompeta
.card__trumpet{
    background-color: $color-3;
    width: 85%;
    margin: 0 auto 20px auto;
    text-align: center;
    .img__trumpet{
        margin: 5% auto -5% auto;
        transform: scale(0.8, 0.8);
    }
}
//Estilos de los planes de pago
.plans{
    background-color: #FFFFFF;
    padding-top: 30px;
    color: #000000;
    &__basic, &__professional, &__premium{
        position: relative;
        width: 80%;
        border:1px solid;
        border-radius: 18px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 20px 10px;
        display: table;
    }

    &__basic:hover, &__professional:hover, &__premium:hover{
        transform: scale(1.07, 1.07);
        border:1px solid;
        border-radius: 18px;
        margin: 0 auto;
        margin-top: 30px;
    }

    &__basic{
        border-color: $color-1;
        .plan__pricing .plan__limited{
            visibility: hidden;
        }
        &:hover{
            border-color: $color-1;
            box-shadow: 5px 10px 27px $color-1;
        }
    }
    
    &__professional{
        border-color: $color-2;
        &:hover{
            border-color: $color-2;
            box-shadow: 5px 10px 27px $color-2;
        }
    }

    &__premium, &__premium:hover{
        border-color: $color-3;
        &:hover{
            border-color: $color-3;
            box-shadow: 5px 10px 27px $color-3;
        }
    }

    &__title{
        font-family: $main-font;
        font-weight: 400;
    }
}
//Estilo para la distribucion del contenido intetior de los planes
.plan{
    &__pricing{
        display: table-cell;
        width: 40%;
        div{
            transform: translate(0, 40%);
        }
    }

    &__data{
        display: table-cell;
        padding-left: 10%;
    }

    &__title{
        font-family: $main-font;
        font-weight: 700;
        font-size: 20px;
    }

    &__cost{
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 46px;
    }
    
    &__limited{
        font-family: $main-font;
        font-size: 12px;
        font-weight: 700;
    }

    &__check{
        border:1px solid #55DFB4;
        text-align: center;
        color:#55DFB4;
        margin-right: 5px;
    }

    &__cross{
        border:1px solid $color-1;
        text-align: center;
        color:$color-1;
        padding: 0 1px;
        margin-right: 5px;
    }

    &__description{
        font-family: $secondary-font;
        font-size: 14px;
        margin:10px 0px;
        width: 100%;
        text-align: left;
    }

    &__btn{
        color: #FFFFFF;
        position: absolute;
        left: 25%;
        border:none;
        border-radius: 23px;
        width: 50%;
        padding: 12px 0;
        top: 90%;
    }
}
//Estilo para la seccion de preguntas
.questions{
    background-color: #FFFFFF;
    padding-top: 50px;
    
    &__title{
        color: #000000;
        font-family: $main-font;
        font-weight: 400;
    }

    &__description{
        margin-top: 10px;
        color: #000000;
        font-size: 16px;
        font-family: $secondary-font;
    }

    &__contact{
        margin-left: 10%;
        text-align: left;
        margin-top: 20px;
    }

    &__mail,&__number{
        margin-left: 10%;
        margin-top: 20px;
        text-align: start;
        span{
            color:#A5A5A5;
        }
    }
}
//Estilo para la seccion del formulario
.contact{
    &__number{
        font-family: $secondary-font;
    }

    &__form{
        margin-top: 30px;

        p{
            text-align: start;
        }
        .form__username, .form_useremail{
            font-size: 11px;
            font-family: $secondary-font;
            letter-spacing: 3.3px;
        }

        #username,#useremail{
            margin: 20px 0;
            border:none;
            border-bottom: 1px solid #95989A;
            width: 80%;
        }

        .form__check{
            margin:20px 0;
        }

        #formcheck{
            position: relative;
            vertical-align: top;
            width: 20px;
            height: 20px;
        }

        span{
            display: inline-block;
            color: #707070;
            font-family: $secondary-font;
            size: 12px;
            line-height: 16px;
            width: 80%;
        }

        .form__btn{
            margin-left: 30%;
            width: min(50%,300px);
            margin-bottom: 30px;
        }
    }
}
//Estilos del footer
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
    &__text{
        display: inline-block;
        width: 60%;

    }
    &__title{
        font-family: $main-font;
        font-weight: 300;
        margin-right: 10%;
    }

    &__rights{
        font-family: $secondary-font;
        color: #A5A5A5;
        font-size: 11px;

    }

    &__icons{
        display: inline-block;
        margin-right: 10%;
    }

}

@media only screen and (min-width: 1000px) {
    //Header ajustado para vistas mayores de 1000px de width
    .header{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: stretch;

        &__btn{
            display: none;
        }

        &__title{
            display: inline-block;
            margin: 0 auto;
        }

        &__list{
            text-align: center;
            width: 45%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            .list-item{
                width: 20%;
                &:hover{
                    border-bottom: 1px solid $color-2;
                }
            }
        }
    }
    //Apartado de estadisticas ajustado para vistas mayores de 1000px de width
    .stadistics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 15%;
        &__title{
            width: 100%;
        }
        &__data{
            flex:1;
        }
    }
    /*
        Cartas ajustadas para vistas mayores de 1000px de width.
        Accedo a cada una de las cartas con nth-child para darle su espacio en el grid
    */
    .cards{
        
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        padding: 25px 10%;
        align-content: center;
        column-gap: 5%;
        .card:nth-child(1),.card:nth-child(2),.card:nth-child(3),.card__trumpet{
            width: 100%;
            margin: 25px auto;
        }

        .card:nth-child(1){
            grid-area: 1 / 1 / 2 / 4;
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            column-gap: 15%;
            .img__macbook{
                grid-area: 1 / 2 / 3 / 3;
            }

            .card__macbook{
                grid-area: 1 / 2 / 3 / 3;
                width: 100px;
                height: 100px;
                right: 15%;
                border-radius: 20px;
                transform: rotate(60deg);
            }

            .card__title{
                grid-area: 1 / 1 / 2 / 2;
            }

            .card__description{
                grid-area: 2 / 1 / 3 / 2;
                border-bottom: 2px solid $color-1;
            }

            .card__title, .card__description{
                margin: 5px 0;
            }

        }

        .card:nth-child(2){
            grid-area: 2 / 1 / 3 / 4;
            display: grid;
            grid-template: 1fr 2fr / 1fr 2fr;
            column-gap: 25%;
            align-content: center;

            .img__phone{
                width: 250px;
                height: 200px;
                left: 15%;
            }

            .card__phone{
                grid-area: 1 / 1 / 3 / 2;
                width: 200px;
                height: 200px;
            }

            .card__title{
                grid-area: 1 / 2 / 2 / 3;
            }

            .card__description{
                grid-area: 2 / 2 / 3 / 3;
                border-bottom: 2px solid $color-2;
            }

            .card__title, .card__description{
                margin: 5px 0;
            }
        }

        .card:nth-child(3){
            grid-area: 3 / 1 / 4 / 3;
            margin-bottom: 20px;
            .card__description{
                padding-bottom: 10%;
                border-bottom: 2px solid $color-3;
            }
        }

        .card__trumpet{
            grid-area: 3 / 3 / 3 / 4;
            margin: 25px auto 20px auto;
            .img__trumpet{
                margin: 15% auto 0 auto;
            }
        }
    }
    //Apartado de planes de pago ajustado para vistas mayores de 1000px de width
    .plans{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px 10%;
        &__title{
            width: 100%;
        }

        &__basic,&__professional,&__premium{
            padding: 5% 0;
            width: 30%;
            .plan__pricing{
                display: table-row;
            }
            .plan__pricing div{
                transform: translate(0, 0);
            }

            .plan__data{
                margin: 15% 0 0 15%;
                display: block;
            }
            .plan__btn{
                top: 96%;
            }
        }
    }
    //Apartado de preguntas ajustado para vistas mayores de 1000px de width
    .questions{
        padding: 50px 10%;
        display: grid;
        grid-template-columns: 2fr 1fr 3fr;
        grid-template-rows: 1fr 1fr 3fr;
        justify-items: center;

        &__title{
            grid-area: 1 / 1 / 2 / 3 ;
            align-self: flex-end;
        }

        &__description{
            grid-area: 2 / 1 / 3 / 3 ;
        }

        &__mail{
            grid-area: 3 / 1 / 4 / 2 ;
        }

        &__number{
            grid-area: 3 / 2 / 4 / 3 ;
            justify-self: flex-start;
        }

        &__contact{
            grid-area: 1 / 3 / 4 / 4 ;
        }

    }
    //Footer ajustado para vistas mayores de 1000px de width
    .footer{
        text-align: start;
        &__icons, &__text{
           margin:0; 
        }
        
        display: flex ;
        justify-content: space-evenly;
    }
}