.color-1 {
  background-color: #FB3B64;
}

.color-2 {
  background-color: #08A6E4;
}

.color-3 {
  background-color: #55DFB4;
}

.textColor-1 {
  color: #FB3B64;
}

.textColor-2 {
  color: #08A6E4;
}

.textColor-3 {
  color: #55DFB4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

body, html {
  width: 100%;
  position: relative;
}

body {
  font-family: Raleway, sans-serif;
  color: #08A6E4;
  min-width: 320px;
  text-align: center;
  background-color: #E8E9ED;
  overflow-x: hidden;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 20px 10px;
  box-shadow: 0px 1px 10px rgb(106, 106, 106);
  background-color: #FFFFFF;
}
.header__title {
  font-weight: 300;
  display: inline-block;
  margin-right: 10%;
}
.header__btn {
  border: none;
  color: #08A6E4;
  background: none;
}
.header__list {
  margin-top: 20px;
  display: block;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  list-style-type: none;
}
.header__list .list-item a {
  text-decoration: none;
  color: grey;
  font-weight: 700;
  letter-spacing: 3.28px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5%;
}
.header__list .list-item a:visited {
  color: grey;
}
.header__list .list-item a:hover {
  color: black;
}

.oculto {
  display: none;
}

.percentage__scroll {
  z-index: 100;
  position: fixed;
  height: 5px;
  background-color: #08A6E4;
}

.content {
  position: relative;
  z-index: 1;
  padding-top: 100px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.introduction__btn, .form__btn, .return__top {
  border-radius: 40px;
  width: min(80%, 500px);
  padding: 20px 0;
  color: white;
  background-color: #08A6E4;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
}
.introduction__btn:hover, .form__btn:hover, .return__top:hover {
  cursor: pointer;
}

.return__top {
  border-radius: 40px;
  width: min(80%, 500px);
  padding: 20px 0;
  color: white;
  background-color: #55DFB4;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 5px 10px 14px rgba(7, 230, 104, 0.29);
  margin-bottom: 20px;
}
.return__top:hover {
  cursor: pointer;
}

.introduction__title, .introduction__description, .introduction__btn {
  margin: 20px 0;
}
.introduction__title {
  font-weight: 400;
}
.introduction__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 250px;
  max-height: 600px;
}

.stadistics {
  width: 100%;
}
.stadistics__title, .stadistics__data {
  margin: 20px 0;
  padding-bottom: 20px;
}
.stadistics__title {
  font-weight: 300;
}

.data__circle {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.data__icon {
  position: absolute;
  top: 9px;
  right: -20px;
}
.data__number {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  letter-spacing: 6px;
  font-size: 20px;
  margin-bottom: 10px;
}
.data__title {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
}

.cards {
  color: black;
  text-align: center;
}

.card {
  text-align: left;
  margin: 20px auto 0px auto;
  padding: 30px;
  background-color: #FFFFFF;
  width: 85%;
}
.card__title, .card__img, .card__description {
  margin: 30px 0;
}
.card__title {
  font-weight: 400;
}
.card__img.img__macbook {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 75%;
  position: relative;
  z-index: 10;
  left: 10%;
}
.card__img.img__phone {
  max-width: 100%;
  margin: auto;
  position: absolute;
  width: 50vw;
  height: 33.3333333333vw;
  max-width: 100%;
  max-height: 100%;
  min-width: 160px;
  min-height: 106.6666666667px;
  left: 30%;
}
.card__description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
}
.card__macbook {
  position: absolute;
  background-color: #FB3B64;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  min-width: 80px;
  min-height: 80px;
  right: 25%;
  z-index: 1;
}
.card__phone {
  background-color: #08A6E4;
  border-radius: 50%;
  width: 33.3333333333vw;
  height: 33.3333333333vw;
  min-width: 106.6666666667px;
  min-height: 106.6666666667px;
  margin: 0 auto;
}

.card__trumpet {
  background-color: #55DFB4;
  width: 85%;
  margin: 0 auto 20px auto;
  text-align: center;
}
.card__trumpet .img__trumpet {
  margin: 5% auto -5% auto;
  transform: scale(0.8, 0.8);
}

.plans {
  background-color: #FFFFFF;
  padding-top: 30px;
  color: #000000;
  padding-bottom: 30px;
}
.plans__basic, .plans__professional, .plans__premium {
  position: relative;
  width: min(80%, 400px);
  border: 1px solid;
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 10px;
  display: table;
  transition: 0.5s;
}
.plans__divisas .divisas__select {
  border: none;
  border-bottom: 1px solid #08A6E4;
}
.plans__basic:hover, .plans__professional:hover, .plans__premium:hover {
  transform: scale(1.07, 1.07);
  border: 1px solid;
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 30px;
  transition: 0.5s;
}
.plans__basic {
  border-color: #FB3B64;
}
.plans__basic .plan__pricing .plan__limited {
  visibility: hidden;
}
.plans__basic:hover {
  border-color: #FB3B64;
  box-shadow: 5px 10px 27px #FB3B64;
}
.plans__professional {
  border-color: #08A6E4;
}
.plans__professional:hover {
  border-color: #08A6E4;
  box-shadow: 5px 10px 27px #08A6E4;
}
.plans__premium, .plans__premium:hover {
  border-color: #55DFB4;
}
.plans__premium:hover, .plans__premium:hover:hover {
  border-color: #55DFB4;
  box-shadow: 5px 10px 27px #55DFB4;
}
.plans__title {
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.plan__pricing {
  display: table-cell;
  width: 40%;
}
.plan__pricing div {
  transform: translate(0, 40%);
}
.plan__data {
  display: table-cell;
  padding-left: 10%;
}
.plan__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.plan__cost {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
}
.plan__limited {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.plan__check {
  border: 1px solid #55DFB4;
  text-align: center;
  color: #55DFB4;
  margin-right: 5px;
}
.plan__cross {
  border: 1px solid #FB3B64;
  text-align: center;
  color: #FB3B64;
  padding: 0 1px;
  margin-right: 5px;
}
.plan__description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 10px 0px;
  width: 100%;
  text-align: left;
}
.plan__btn {
  color: #FFFFFF;
  position: absolute;
  left: 25%;
  border: none;
  border-radius: 23px;
  width: 50%;
  padding: 12px 0;
  top: 90%;
}

.slider {
  margin: 30px auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
}
.slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1.5s;
}
.slider__item img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__item.active {
  opacity: 1;
  transition: 1s;
}
.slider__btns {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider__btns button {
  color: #FFFFFF;
  font-size: 20px;
  z-index: 100;
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 20px;
  border: solid 1px white;
  cursor: pointer;
  margin: 0 10px;
}
.slider__selection {
  z-index: 100;
  display: flex;
  justify-content: center;
}
.slider__selection .selection__item {
  z-index: 100;
  background-color: #FFFFFF;
  opacity: 0.5;
  width: 10px;
  height: 10px;
  transform: translateY(-30px);
  margin: 0 5px;
  border-radius: 20px;
}
.slider__selection .selection__item.active {
  opacity: 1;
}

.questions {
  background-color: #FFFFFF;
  padding-top: 50px;
}
.questions__title {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}
.questions__description {
  margin-top: 10px;
  color: #000000;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.questions__contact {
  margin-left: 10%;
  text-align: left;
  margin-top: 20px;
}
.questions__mail, .questions__number {
  margin-left: 10%;
  margin-top: 20px;
  text-align: start;
}
.questions__mail span, .questions__number span {
  color: #A5A5A5;
}

.contact__number {
  font-family: "Open Sans", sans-serif;
}
.contact__form {
  margin-top: 30px;
}
.contact__form p {
  text-align: start;
}
.contact__form .form__username, .contact__form .form_useremail {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3.3px;
}
.contact__form #username, .contact__form #useremail {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #95989A;
  width: 80%;
}
.contact__form .form__check {
  margin: 20px 0;
}
.contact__form #formcheck {
  position: relative;
  vertical-align: top;
  width: 20px;
  height: 20px;
}
.contact__form span {
  display: inline-block;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  size: 12px;
  line-height: 16px;
  width: 80%;
}
.contact__form .form__btn {
  margin-left: 30%;
  width: min(50%, 300px);
  margin-bottom: 30px;
}

.return {
  width: 100%;
  background-color: #FFFFFF;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.footer__text {
  display: inline-block;
  width: 60%;
}
.footer__title {
  font-family: Raleway, sans-serif;
  font-weight: 300;
  margin-right: 10%;
}
.footer__rights {
  font-family: "Open Sans", sans-serif;
  color: #A5A5A5;
  font-size: 11px;
}
.footer__icons {
  display: inline-block;
  margin-right: 10%;
}

.modal__background {
  visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal__box {
  position: relative;
  background-color: #FFFFFF;
  width: 60%;
  padding: 30px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #FB3B64;
  border-radius: 10px;
  justify-content: center;
}
.modal__close {
  top: 0;
  right: 0;
  position: absolute;
  margin-bottom: 20px;
  border: none;
  width: 25px;
  height: 25px;
  background: none;
}
.modal__email {
  margin-bottom: 20px;
  display: block;
  margin: 10px auto;
  border: none;
  border-bottom: 1px solid #FB3B64;
}
.modal__suscribe {
  border-radius: 40px;
  width: 70%;
  padding: 10px 0;
  color: white;
  background-color: #FB3B64;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 5px 10px 14px rgba(230, 7, 174, 0.29);
}
.modal__suscribe:hover {
  cursor: pointer;
}
.modal__error {
  color: red;
}

@media only screen and (min-width: 1000px) {
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
  }
  .header__btn {
    display: none;
  }
  .header__title {
    display: inline-block;
    margin: 0 auto;
  }
  .header__list {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .header__list .list-item {
    width: 20%;
  }
  .header__list .list-item:hover {
    border-bottom: 1px solid #08A6E4;
  }
  .stadistics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 15%;
  }
  .stadistics__title {
    width: 100%;
  }
  .stadistics__data {
    flex: 1;
  }
  /*
      Cartas ajustadas para vistas mayores de 1000px de width.
      Accedo a cada una de las cartas con nth-child para darle su espacio en el grid
  */
  .cards {
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
    padding: 25px 10%;
    align-content: center;
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
  .cards .card:nth-child(1), .cards .card:nth-child(2), .cards .card:nth-child(3), .cards .card__trumpet {
    width: 100%;
    margin: 25px auto;
  }
  .cards .card:nth-child(1) {
    grid-area: 1/1/2/4;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    -moz-column-gap: 15%;
         column-gap: 15%;
  }
  .cards .card:nth-child(1) .img__macbook {
    grid-area: 1/2/3/3;
  }
  .cards .card:nth-child(1) .card__macbook {
    grid-area: 1/2/3/3;
    width: 100px;
    height: 100px;
    right: 15%;
    border-radius: 20px;
    transform: rotate(60deg);
  }
  .cards .card:nth-child(1) .card__title {
    grid-area: 1/1/2/2;
  }
  .cards .card:nth-child(1) .card__description {
    grid-area: 2/1/3/2;
    border-bottom: 2px solid #FB3B64;
  }
  .cards .card:nth-child(1) .card__title, .cards .card:nth-child(1) .card__description {
    margin: 5px 0;
  }
  .cards .card:nth-child(2) {
    grid-area: 2/1/3/4;
    display: grid;
    grid-template: 1fr 2fr/1fr 2fr;
    -moz-column-gap: 25%;
         column-gap: 25%;
    align-content: center;
  }
  .cards .card:nth-child(2) .img__phone {
    width: 250px;
    height: 200px;
    left: 15%;
  }
  .cards .card:nth-child(2) .card__phone {
    grid-area: 1/1/3/2;
    width: 200px;
    height: 200px;
  }
  .cards .card:nth-child(2) .card__title {
    grid-area: 1/2/2/3;
  }
  .cards .card:nth-child(2) .card__description {
    grid-area: 2/2/3/3;
    border-bottom: 2px solid #08A6E4;
  }
  .cards .card:nth-child(2) .card__title, .cards .card:nth-child(2) .card__description {
    margin: 5px 0;
  }
  .cards .card:nth-child(3) {
    grid-area: 3/1/4/3;
    margin-bottom: 20px;
  }
  .cards .card:nth-child(3) .card__description {
    padding-bottom: 10%;
    border-bottom: 2px solid #55DFB4;
  }
  .cards .card__trumpet {
    grid-area: 3/3/3/4;
    margin: 25px auto 20px auto;
  }
  .cards .card__trumpet .img__trumpet {
    margin: 15% auto 0 auto;
  }
  .plans {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10%;
  }
  .plans__title, .plans__divisas {
    width: 100%;
  }
  .plans__basic, .plans__professional, .plans__premium {
    padding: 5% 0;
    width: 30%;
  }
  .plans__basic .plan__pricing, .plans__professional .plan__pricing, .plans__premium .plan__pricing {
    display: table-row;
  }
  .plans__basic .plan__pricing div, .plans__professional .plan__pricing div, .plans__premium .plan__pricing div {
    transform: translate(0, 0);
  }
  .plans__basic .plan__data, .plans__professional .plan__data, .plans__premium .plan__data {
    margin: 15% 0 0 15%;
    display: block;
  }
  .plans__basic .plan__btn, .plans__professional .plan__btn, .plans__premium .plan__btn {
    top: 96%;
  }
  .slider {
    width: 90%;
    height: 600px;
  }
  .questions {
    padding: 50px 10%;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 1fr 1fr 3fr;
    justify-items: center;
  }
  .questions__title {
    grid-area: 1/1/2/3;
    align-self: flex-end;
  }
  .questions__description {
    grid-area: 2/1/3/3;
  }
  .questions__mail {
    grid-area: 3/1/4/2;
  }
  .questions__number {
    grid-area: 3/2/4/3;
    justify-self: flex-start;
  }
  .questions__contact {
    grid-area: 1/3/4/4;
  }
  .footer {
    text-align: start;
    display: flex;
    justify-content: space-evenly;
  }
  .footer__icons, .footer__text {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */