$main-font: Raleway, sans-serif;
$secondary-font: 'Open Sans',sans-serif;
$main-color:#08A6E4;
$color-1:#FB3B64;
$color-2:#08A6E4;
$color-3:#55DFB4;

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

body,html{
    width: 100%;
    height: 100%;
}

body{
    font-family: $main-font;
    color:$main-color;
    min-width: 320px;
    text-align: center;
    background-color: #E8E9ED;
    overflow-x: hidden;
}

.header{
    $component:&;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 20px 10px;
    box-shadow:0px 1px 10px rgb(106, 106, 106);
    background-color: #FFFFFF;

    &__title{
        font-weight: 300;
        display: inline-block;
        margin-right: 10%;
    }

    &__btn{
        display: none;
    }

    &__open, &__close{
        margin-right: 20px;
    }

    &__close{
        display: none;
    }

    &__btn:checked{
        ~ #{$component}__open{
            display: none;
        }
        
        ~ #{$component}__close{
            display: inline-block;
            width: 25px;
            height: 20px;
            font-weight: bold;
        }
    
        ~ #{$component}__list{
            display: block;
        }
    } 

    &__list{
        margin-top: 20px;
        display: none;
        text-align: left;   
        font-family: $secondary-font;
        list-style-type: none;
    }
}

.list-item{
    $primary-color:grey;
    $secondary-color:black;
    a{
      text-decoration: none;  
      color:$primary-color;
      font-weight: 700;
      letter-spacing: 3.28px;
      font-size: 12px;
      line-height: 15px;
      margin-left: 5%;

        &:visited{
            color: $primary-color;
        }

        &:hover{
            color:$secondary-color;
        }
    }
}

.content{
    position: relative;
    z-index: 1;
    padding-top: 100px;
    background-color:white ;
    color: black;
    font-size: 16px;
    
}

.introduction{

    &__title, &__description, &__btn{
        margin: 20px 0;
    }

    &__title{
        font-weight: 400;
    }

    &__btn{
        border-radius:40px;
        width: min(80%,500px);
        padding: 20px 0;
        color: white;
        background-color: $main-color;
        border:none;
        font-family: $secondary-font;
        font-weight: 700;
        box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    
        &:hover{
            cursor: pointer;
        }
    }

    &__img{
        object-fit: cover;
        width: 100%;
        min-height: 250px;
        max-height: 600px;
    }
}

.stadistics{

    width: 100%;
    
    &__title, &__data{
        margin: 20px 0;
    }


    &__title{
        font-weight: 300;
    }
    
}

.color-1{
    background-color: $color-1;
}

.color-2{
    background-color: $color-2;
}

.color-3{
    background-color: $color-3;
}

.data{
    &__circle{
        display: inline-block;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        
    }

    &__icon{
        position: absolute;
    }

    &__number{
        font-family: $main-font;
        font-weight: 800;
        letter-spacing: 6px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &__title{
        font-family: $main-font;
        font-weight: 400;
        font-size: 17px;
        color: #A5A5A5;
    }
}


